[submodule "thirdparty/SplaTAM"]
	path = thirdparty/SplaTAM
	url = git@github.com:SupaVision/SplaTAM.git
[submodule "thirdparty/nerf-navigation"]
	path = thirdparty/nerf-navigation
	url = git@github.com:SupaVision/nerf-navigation.git
[submodule "thirdparty/gaussian-splatting"]
	path = thirdparty/gaussian-splatting
	url = git@github.com:SupaVision/gaussian-splatting.git
[submodule "thirdparty/Replica-Dataset"]
	path = thirdparty/Replica-Dataset
	url = git@github.com:facebookresearch/Replica-Dataset.git
[submodule "thirdparty/habitat-sim"]
	path = thirdparty/habitat-sim
	url = git@github.com:facebookresearch/habitat-sim.git
[submodule "thirdparty/gradslam"]
	path = thirdparty/gradslam
	url = git@github.com:SupaVision/chamferdist.git
[submodule "thirdparty/chamferdist"]
	path = thirdparty/chamferdist
	url = git@github.com:SupaVision/chamferdist.git
