[submodule "thirdparty/SplaTAM"]
	path = thirdparty/SplaTAM
	url = git@github.com:SupaVision/SplaTAM.git
[submodule "thirdparty/nerf-navigation"]
	path = thirdparty/nerf-navigation
	url = git@github.com:SupaVision/nerf-navigation.git
[submodule "thirdparty/gaussian-splatting"]
	path = thirdparty/gaussian-splatting
	url = git@github.com:SupaVision/gaussian-splatting.git
